@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

header {
  background: #14213d;
  height: 5rem;
  display: flex;
  align-items: center;
}

main {
  width: 100%;
}

footer {
  background: #14213d;
  height: 5rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  justify-content: center;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

a:hover {
  color: orange;
}

ul {
  list-style: none;
}

.logo {
  color: #ffffff;
  font-size: 3rem;
}

.container {
  width: 100%;
}

.container-xl {
  width: 95%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

/* products */

.products {
  width: 80%;
}

.products-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.products-list li {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 2rem 1rem;
  box-shadow: 0px 0px 5px rgb(186, 186, 186);
  padding: 0.9rem;
  border-radius: 3px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  height: 30rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px #bcbcbc;
  object-fit: cover;
} 

.product a {
  color: #000000;
}

.product a:hover {
  color: orange;
}

.product a p {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}

button {
  border: unset;
  background: #40916c;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.3rem;
  transition: 0.15s ease-in-out;
  font-size: 1.6rem;
}

button:hover {
  color: orange;
}

.product-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-price_value {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  border-radius: 5rem;
}

/* filter */

.filter {
  display: flex;
  border-bottom: 0.1rem #d3d3d3 solid;
  padding: 2rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.count-products {
  font-size: 1.8rem;
}

.filter-sort {
  font-size: 1.8rem;
}

select {
  outline: unset;
  border: unset;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 0.5rem;
} 

option {
  background-color: #f2f2f2;
  font-size: 1.6rem;
}

.filter-size {
  font-size: 1.8rem;
}

.cart {
  width: 20%;
}

/* tablet/mobile */

@media screen and (min-width: 768px) {
  .products-list li {
    display: flex;
    width: 46%;
    margin: 2rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .products-list li {
    display: flex;
    width: 30%;
    margin: 2rem 1rem;
  }
}