* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background: #14213d;
  height: 5rem;
  display: flex;
  align-items: center;
}

main {
  width: 100%;
}

footer {
  background: #14213d;
  height: 5rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  justify-content: center;
}

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

a:hover {
  color: orange;
}

.logo {
  color: #ffffff;
  font-size: 3rem;
}

.container {
  width: 95%;
  margin: auto;
}